services:
  zomboid-dedicated-server:
    build:
      context: .
      dockerfile: docker/zomboid-dedicated-server.Dockerfile
    image: "docker.io/renegademaster/zomboid-dedicated-server:latest"
    container_name: zomboid-dedicated-server
    restart: "no"
    env_file:
      - .env
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - AUTOSAVE_INTERVAL=${AUTOSAVE_INTERVAL}
      - BIND_IP=${BIND_IP}
      - DEFAULT_PORT=${DEFAULT_PORT}
      - GAME_VERSION=${GAME_VERSION}
      - GC_CONFIG=${GC_CONFIG}
      - MAP_NAMES=${MAP_NAMES}
      - MAX_PLAYERS=${MAX_PLAYERS}
      - MAX_RAM=${MAX_RAM}
      - MOD_NAMES=${MOD_NAMES}
      - MOD_WORKSHOP_IDS=${MOD_WORKSHOP_IDS}
      - PAUSE_ON_EMPTY=${PAUSE_ON_EMPTY}
      - PUBLIC_SERVER=${PUBLIC_SERVER}
      - RCON_PASSWORD=${RCON_PASSWORD}
      - RCON_PORT=${RCON_PORT}
      - SERVER_NAME=${SERVER_NAME}
      - SERVER_PASSWORD=${SERVER_PASSWORD}
      - UDP_PORT=${UDP_PORT}
      - TZ=${TZ}
    ports:
      - target: ${DEFAULT_PORT}
        published: ${DEFAULT_PORT}
        protocol: udp
      - target: ${UDP_PORT}
        published: ${UDP_PORT}
        protocol: udp
      - target: ${RCON_PORT}
        published: ${RCON_PORT}
        protocol: tcp
    volumes:
      - ./ZomboidDedicatedServer:/home/steam/ZomboidDedicatedServer
      - ./ZomboidConfig:/home/steam/Zomboid/
